body {
    /* Takes out that little margin that is in all the page. */
    margin: 0px;
}

header {
    background-color: darkgray;
    color: azure;
    text-align: center;
    padding: 25px 0px;
    margin-bottom: 25px;
}

.image {
    width: 600px;
}

main {
    background-color: lightblue;
    width: 600px;
    padding: 20px;
    border: solid 5px red;
    /* The auto helps to center the object that you are working on
       in this case is centering the main from the sides only. */
    margin: 0px auto;
}

footer {
    background-color: darkblue;
    color: #f2f2f2bc;
    text-align: center;
    padding: 25px 0px;
    margin-top: 25px;
}